.slider {
  margin-bottom: 40px;
}

.slider label {
  color: #555;
  font-size: 1rem;
  margin-bottom: 20px;
  display: block;
}

.input-range__slider {
  background: #72d813;
  border: none;
}

.input-range__track {
  background: #bbeb8e;
}

.input-range__track--active {
  background: #7bff00;
}

.input-range__label--value .input-range__label-container {
  background: #04dbe2;
  color: white;
  font-size: 0.65rem;
  padding: 2px 5px;
  border-radius: 2px;
}

.input-range__label--min .input-range__label-container,
.input-range__label--max .input-range__label-container {
  font-size: 0.65rem;
  color: #888;
  left: 0;
}

.input-range__label--max .input-range__label-container {
  left: 25%;
}
